.vet-app .layout .content {
	.table-card {
		width: 100%;
	}
}
.filters {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 20px;
}

.modal-container {
	clear: both;
	background-color: white;
	overflow: auto;
}

.modal-head {
	background-color: whitesmoke;
}

.modal-title {
	padding: 5px;
	float: left;
}

.modal-content {
	padding-top: 0px;
}

.modal-section {
	padding: 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	margin-right: 20px;
	margin-bottom: 20px;
}
