.inicio {
	display: flex;
	flex-flow: column;
	gap: 100px;
	padding-bottom: 100px;
	#future.card {
		.header {
			flex-flow: row;
			justify-content: space-between;
			.col {
				width: auto;
        flex: none;
			}
		}
	}
}
